body {
	font-family: 'Josefin Slab', serif;
	color: #49C6E5;
	background-color: #001011;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	background-color: #FFFFFF;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

@media screen and (max-device-width: 560px) {
	.container {
		width: 100vw;
		margin-left: 0px;
		margin-right: 0px;
	}
}

.row {
	width: 100%;
	display: flex;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.67%;
}

.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.67%;
}

.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.67%;
}

.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.67%;
}

.col-12 {
	width: 100%;
}

.page-heading {
	text-align: center;
	font-size: 50px;
	font-weight: 400;
	color: #001011;
}

@media screen and (max-device-width: 560px) {
	.page-heading {
		font-size: 75px;
	}
}

.nav-bar {
	width: 100%;
	background-color: #54DEFD;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px gray;
}

.nav-bar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	background-color: #54DEFD;
}

.nav-button {
	padding: 10px;
	font-size: 24px;
	background-color: #54DEFD;
	color: #001011;
}

.video-container {
	text-align: center;
}

.next-button-container {
	text-align: center;
}

.next-button {
	color: black;
	text-align: center;
}

.quote {
	font-family: 'Bilbo Swash Caps', cursive;
	color: black;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 25px;
	text-align: center;
}

.description {
	color: black;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 25px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}

.thanks {
	font-weight: 700;
}

.friend-thumb {
	max-width: 100%;
	height: auto;
}

.friend-thumb:hover {
}

.friend-thumb-container {
	margin-top: auto;
	margin-bottom: auto;
}

.friend-thumb-container:hover {
	width: 20%;
}

.friend-thumb-row {
	margin-bottom: 25px;
}

.video {
		width: 560px; 
		height: 315px;
}

@media screen and (max-device-width: 560px) {
	.video {
		width: 375px; 
		height: 211px;
	}
}